{% extends 'base.html' %}
{% block body %}
<div class="container">
    <li><a href="new/add">Login</a></li>

    <div class="row">

        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="{{i.img.url}}" class="card-img-top" alt="..." height="200px;">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.descr}}</p>
                    <a class="btn btn-warning" href="{% url 'movieapp:detail' i.id %}">View details</a>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>

</div>
{% endblock %}
